body{
    color:#333333;
    font-family: 'Poppins',sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding:0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/25503.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.main-content{
    flex-grow:1;
}

footer {
    color: #888888;
    margin-top: 16px;
    padding: 16px 0;

}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 15px 15px 15px 15px;
}


button {
    cursor: pointer;
    border: 0.5px solid #888888;
    background-color: #888888;
    color:white;
    padding: 8px;
    border-radius: 15px 15px 15px 15px;

}

p,#message-1,#message-2,#message-3 {
    color: black;
    font-style: inherit;
    font-family: 'Poppins',sans-serif;
}